<!-- <div *ngIf="putInCart()">
   
    När man tryckt vill man att det ska komma upp ett nr som visar vad som är i checkout listan. 
    
</div> -->
<app-searchmovies></app-searchmovies>
<section>
    <article *ngFor="let m of showMovies; let i =index" >
        <p  (click)="over(i)">Mer info</p>
        <img [src]="m.imageUrl">

        <div class="containmovie">
            <p class="moviename">Movie:</p>
            <p>{{ m.name}}</p>

            <div class="showmore" *ngIf="showMoreInfo">
                <button (click)="leave(i)">X</button>
                
                {{ m.description }}
                År: {{ m.year }}
            </div>
        </div>

        <div class="containprice">
            <p>Price:</p>
            <p class="price">{{ m.price}} kr</p>
        </div>

        <button (click)="putInCart(m)">Lägg till</button>
    </article>
</section>