header{
    position: relative;
    height: 8rem;
    background-color: rgb(50, 37, 126);
}
h1{
    padding: 1rem;


}
#btncheckout{
    margin: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    
}
#btncheckout:hover{
    background-color: red;
   cursor: pointer;
}
#btnadmin{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
a{
    padding: 1rem;
    color: black;
}