header{
    position: relative;
    height: 8rem;
    background-color: rgb(50, 37, 126);
}
h1{
    padding: 1rem;


}
h3{
    margin: 0;
    position: absolute;
    top: 0rem;
    right: 1rem;
    padding: 1rem;
}
button{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}