header{
    position: relative;
    height: 8rem;
    background-color: white;

}
h1{
    padding: 1rem;
    margin: 0;
    color: rgb(250, 124, 124);


}
#btncheckout{
    margin: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    
}
#btncheckout:hover{
    background-color: rgb(250, 124, 124);
   cursor: pointer;
}
#btnadmin{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
a{
    padding: 1rem;
    color: black;
}