nav {
  position: relative;

  height: 3rem;
}
div {
  position: fixed;
  top: 10rem;
  background-color: #2a2b7d;
  width: 100%;
  z-index: 1;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0 3rem;
  padding: 1rem;
}
