nav{

    background-color: rgb(255, 161, 177);
    position: relative;

    height: 3rem;
}
div{
    position: fixed;
    top: 8rem;
    background-color: rgb(255, 161, 177);
    width: 100%;
    z-index: 1;
}
ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    list-style: none;
    margin: 0 3rem;
    padding: 1rem;

}
