.container{
    margin: auto;
    position: relative;
    margin-top: 4rem;

}
.moviepic{
    width: 20rem;
    object-fit: contain;
}
.movieinfo{
    position: absolute;
    text-align: left;
    top: 0rem;
    left: 25rem;
    width: 30rem;
    // font-size: 1rem;
}

h1{
    font-size: 1.6rem;
    margin-top: 0;
}
h2{
    font-size: 1.2rem;
}
ul{
    list-style-type: none;
    line-height: 1rem;
    li{
        margin-left: 1rem;
    }
}
#price{
    color: red;
    font-weight: bold;
}
.addtoorder{
position: fixed;
top: 1rem;
right:8rem;
width: 20rem;
padding: 1rem;
border-radius: 10px;
background-color: rgb(250, 223, 223);
z-index: 2;
}